@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  @apply w-full p-2 border border-slate-300 bg-zinc-100 rounded mb-4;
}
th,
td {
  @apply border border-gray-300 px-4 py-2;
}
